:root {
	--color-1: rgb(124, 10, 2);
	--color-2: rgb(178, 34, 34);
	--color-3: rgb(226, 88, 34);
	--color-4: rgb(241, 188, 49);
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
